/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2565AE; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cccccc;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.content {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidebar {
  height: 200px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: lightblue;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.body-text {
  margin-right: 150px;
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 10px;
  background-color: white;
  float:left;
  padding-left: 160px;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}


a:link , a:visited {
  text-decoration : none;
  color: #166090;
  font-weight: 550;
}


img {
  border-radius: 5%
}

#rcorners1 {
  border-radius: 10px;
  /*background: #88a5c2;*/
  background: #88a5c2;
  padding: 12px 4px;
  width: 100%;
  height: 190px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}


body{  
    margin: 0; 
    padding: 30px 30px 30px 30px;
}


#text{
	margin: 10px 0;	
    padding: 10px 0px 0px 15px;
	width:900px;
}

#link_bar ul{
	text-align: center;
    font-weight: bolder;
	font-size: 1.25em;
}
#link_bar a:link,
#link_bar a:visited{
	color: #003b98;
    margin-left: 14px;
    margin-right: 16px;
	text-decoration: none;
    background-color: transparent;
}
#link_bar a:hover,
#link_bar a:focus,
#link_bar a:active{
    color: #000000;
	text-decoration: none;
	background-color: transparent;
}

#link_bar strong{
    color: #000000;
	    font: inherit;
}
#link_bar li{
	margin-left:0px;
	margin-right:0px;
	display: inline;
}

ul{
    margin: 0;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#newspaper-c
{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    /*border: 1px solid #6cf;*/
    /*border: 1px solid gray;*/
    line-height: 1.4;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
    
}
#newspaper-c th
{
    padding: 20px;
    font-weight: normal;
    font-size: 13px;
    /*color: #039;*/
    margin-left: 160px; /* Same as the width of the sidebar */
    text-transform: uppercase;
    border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    border-left: 1px solid #0865c2;
    border-bottom: 1px solid #fff;
}
#newspaper-c td.odd
{
    /*padding: 4px 4px;*/
    /*color: #669;*/
    color:black;
    /*border-right: 1px dashed #6cf;*/
    border-right:none;
    text-align: left;

    /*font-weight:bold;*/
}
#newspaper-c td
{
    padding: 5px 10px;
    /*color: #669;*/
    color: black;
    /*border-right: 1px dashed #6cf;*/
    border-right: 1px dashed gray;
}
